<template name="emailFormFields">
  <div class="form-group">
    <label for="email">Email address</label>
    <input class="form-control" type="email" id="email" required="required" />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input class="form-control" type="password" id="password" required="required" />
  </div>
</template>