<template name="notifications">
    {{#contentFor 'title'}}Notifications{{/contentFor}}
    <div class="container">
        <form>
            <div class="form-group">
                <input class="form-control" id="push-title" placeholder="Title" required="required" />
            </div>
            <div class="form-group">
                <input class="form-control" id="push-text" placeholder="Text" required="required" />
            </div>
            <button class="btn btn-block btn-primary" type="submit">
                <span class="glyphicon glyphicon-send"></span>
                Push
            </button>
        </form>
    </div>
</template>