<template name="login">
    
    {{#contentFor 'title'}}AlterNativ{{/contentFor}}

    <!-- Page Content -->
    <div class="container">
        {{#if loggingIn}}
            {{> spinner}}
        {{else}}
            <div class="text-center welcome">
                <div class="text-content">
                    <h1>Welcome to AlterNativ</h1>
                    <p class="lead">The app that lets you navigate&nbsp;smarter around&nbsp;the&nbsp;city</p>
                </div>
                <div id="login-buttons">
                    <a class="btn btn-facebook" id="btn-login-facebook">
                        <span class="icon-facebook"></span>
                        Continue with Facebook
                    </a>
                    <a class="btn btn-primary" href="{{pathFor 'emailLogin'}}">
                        Log in with email
                    </a>
                    <a class="btn btn-link" href="{{pathFor 'emailSignup'}}">
                        New to AlterNativ? Sign Up
                    </a>
                </div>
            </div>
        {{/if}}
    </div>
    <!-- /.container -->

</template>