<template name="userStatistics">
    <div class="user-stats-rides">
        {{#each sortedAlternatives}}
            <div class="rides-row">
                <div class="icon"><div style="background-image: url({{methodDisplay.icon}})"></div></div>
                <div class="text">{{count}} {{methodDisplay.nounPlural}}</div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar"
                         aria-valuenow="{{displayPercent}}" aria-valuemin="0" aria-valuemax="100"
                         style="width: {{displayPercent}}%;"></div>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="user-stats-totals">
        <div class="row">
            <div class="col-xs-6 col-sm-3 total total-calories">
                <em>{{calories}}</em>
                KCal burned
            </div>
            <div class="col-xs-6 col-sm-3 total total-duration">
                <em>{{duration}}</em>
                minutes travelled
            </div>
            <div class="col-xs-6 col-sm-3 total total-price">
                <em>{{price}}</em>
                NIS spent
            </div>
            <div class="col-xs-6 col-sm-3 total total-emissions">
                <em>{{emissions}}</em>
                g/CO<sub>2</sub> emitted
            </div>
        </div>
    </div>
</template>