<template name="tracks">
    
    {{#contentFor 'title'}}{{title}}{{/contentFor}}
    
    <div class="container-fluid map-container">
        <div class="row">
            <div class="col-md-12 col-xs-12 maprow">
                <section id="appmap" style="bottom: 55% !important">
                </section>
                <div style="position: fixed; left: 0; top: 45%; right: 0; bottom: 0; overflow-y: scroll">
                    <div class="container">
                        {{#unless showAll}}
                            {{#with journey}}
                                <h5>From {{origin.address}} to {{destination.address}}
                                    by {{chosenType}}</h5>
                            {{/with}}
                        {{/unless}}
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        {{#if showAll}}
                                            <th>Journey Id</th>
                                        {{/if}}
                                        <th>Activity</th>
                                        <th>Timestamp</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each tracks}}
                                        <tr>
                                            <td>{{_id}}</td>
                                            {{#if showAll}}
                                                <td>{{journeyId}}</td>
                                            {{/if}}
                                            <td>{{location.activity.type}}</td>
                                            <td>{{timestamp}}</td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>