<template name="about">
    
    {{#contentFor 'title'}}About AlterNativ{{/contentFor}}

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Made by <a href="http://zencity.io/" target="_blank">ZenCity</a></p>
                <p><a href="http://zencity.io/" target="_blank"><img src="/images/logo-zencity.png" alt="ZenCity" width="150" height="150" /></a></p>
                <p>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from
                    <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> are licensed by
                    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
                </p>
            </div>
        </div>
        <!-- /.row -->

    </div>
</template>


<!-- TODO: give credit to photographer via shutterstock -->