<template name="resultsNavPrefs">
    <div class="nav-prefs-container">
        <div class="container">
            <ul class="nav nav-pills nav-justified nav-prefs">
                <li><a href="#" class="pref-eco {{prefActiveClass 'eco'}}" data-pref="eco"><span class="icon"></span></a></li>
                <li><a href="#" class="pref-fit {{prefActiveClass 'fit'}}" data-pref="fit"><span class="icon"></span></a></li>
                <li><a href="#" class="pref-cheap {{prefActiveClass 'cheap'}}" data-pref="cheap"><span class="icon"></span></a></li>
                <li><a href="#" class="pref-fast {{prefActiveClass 'fast'}}" data-pref="fast"><span class="icon"></span></a></li>
            </ul>
        </div>
    </div>
</template>