<template name="results">
    
    {{#contentFor 'title'}}Results{{/contentFor}}
    
    {{#contentFor 'navbarExtra'}}
        {{> resultsNavPrefs}}
    {{/contentFor}}

    <div class="container results-list active-pref-{{activePrefName}}">
        {{#each results}}
            <a class="btn-tomap" data-trans-key="{{key}}">
                <div class="result-item">
                    <div class="content">
                        <h2>{{methodDisplay.name}}</h2>
                        <ul>
                            <li class="data-duration">{{durationFormatted}}</li>
                            <li class="data-price">{{price}} NIS</li>
                            <li class="data-calories">{{calories}} KCal</li>
                            <li class="data-emissions">{{emissions}} gr/CO<sub>2</sub></li>
                        </ul>
                    </div>
                    <div class="transportation-icon" style="background-image:url({{methodDisplay.icon}})"></div>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </div>
            </a>
        {{/each}}
    </div>

</template>