@import "mixins/bootstrap-buttons.less";

html {
    height: 101%; /* fixes cover background image on body */
}

body {
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    padding-top: 70px;
}

body.navigate, body.results, body.login {
    /*Make background image resizable*/
    background: url("images/shutterstock_132056090.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* remove default Bootstrap behaviour
*/
.btn:focus, .btn:active:focus,
.btn.active:focus, .btn.focus,
.btn:active.focus, .btn.active.focus {
    outline: none;
    outline-color: none;
}

#nav-drawer {
    -webkit-transform: translate3d(0px,0px,0px);
}

.navbar-brand {
    cursor: default;
    color: #fff !important;
}

/* login */

.welcome {
    padding: 5px 16px 8px 16px;
    position: fixed;
    left: 16px;
    right: 16px;
    bottom: 32px;
    background: rgba(0,0,0,0.5);
}
.welcome .text-content,
.welcome .btn-link {
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

#login-buttons a {
    padding: 10px 20px;
    margin-bottom: 16px;
}

@media screen and (min-width: 501px) {
    #login-buttons a {
        margin-left: 8px;
        margin-right: 8px;
    }
}
@media screen and (max-width: 500px) {
    #login-buttons a {
        display: block;
    }
}
/*
.btn-facebook {
    background: #3b579d;
    border-color: #354e8d;
    color: #fff;
}

.btn-facebook:active,
.btn-facebook.active,
.btn-facebook:active:focus,
.btn-facebook.active:focus {
    background: #2e447b;
    border-color: #2e447b;
    color: #fff;
}

.btn-facebook:hover,
.btn-facebook:focus {
    background: #354e8d;
    border-color: #2e447b;
    color: #fff;
}
*/
.icon-facebook {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: white;
    margin-right: 5px;
    position: relative;
    top: 3px;
    background: url(/icons/facebook.png) no-repeat;
    background-size: contain;
}

/* navigate */

body.navigate .navbar-brand {
    cursor: pointer;
}

.input-fromto .input-group-addon {
    min-width: 80px;
    text-align: left;
}

.btn-container {
    width: 250px;
    height: 250px;
    margin: auto;
    padding-top: 10px;
}

.btn-ido {
    display: inline-block;
}

.input-group-btn.display-false {
    display: none;
}

.err {
    border:1px solid red;
    color:red;
}

.btn-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.btn-pref {
    margin: 10px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 0px;
}

/* results */

body.results {
    padding-top: 120px;
}
body.results .navbar {
    border-bottom: solid 1px #ccc;
}

.nav-prefs-container {
    background: #fff;
}
@media screen and (max-width: 767px) {
    .nav-prefs-container .container {
        padding: 0;
    }
}

.nav-prefs-container .nav-justified > li {
    display: table-cell;
    width: 1%;
}

.nav-prefs-container .nav-justified > li > a {
    margin-bottom: 0;
}

.nav-prefs > li > a {
    background: #fff;
    border-radius: 0;
    height: 50px;
    padding: 8px 0 0 0;
    border-bottom: solid 5px #fff;
}
.nav-prefs > li > a .icon {
    display: inline-block;
    width: 36px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: 80px 80px;
    background-position: 50% -20px;
}
.nav-prefs > li > a.pref-eco .icon {
    background-image: url(/icons/eco2_english.svg);
}
.nav-prefs > li > a.pref-fit .icon {
    background-image: url(/icons/fit2_english.svg);
}
.nav-prefs > li > a.pref-cheap .icon {
    background-image: url(/icons/cheap2_english.svg);
}
.nav-prefs > li > a.pref-fast .icon {
    background-image: url(/icons/fast2_english.svg);
}
.nav-prefs > li > a:hover,
.nav-prefs > li > a:focus,
.nav-prefs > li > a.active {
    background-color: #fff;
}
.nav-prefs > li > a.pref-eco:hover,
.nav-prefs > li > a.pref-eco:focus,
.nav-prefs > li > a.pref-eco.active {
    border-bottom: solid 5px #70b723;
}
.nav-prefs > li > a.pref-fit:hover,
.nav-prefs > li > a.pref-fit:focus,
.nav-prefs > li > a.pref-fit.active {
    border-bottom: solid 5px #d7163f;
}
.nav-prefs > li > a.pref-cheap:hover,
.nav-prefs > li > a.pref-cheap:focus,
.nav-prefs > li > a.pref-cheap.active {
    border-bottom: solid 5px #5b2324;
}
.nav-prefs > li > a.pref-fast:hover,
.nav-prefs > li > a.pref-fast:focus,
.nav-prefs > li > a.pref-fast.active {
    border-bottom: solid 5px #eba510;
}

.btn-tomap {
    height: 153px;
}


.results-list ul {
    padding-left: 20px;
}
.results-list ul li {
    opacity: 0.7;
    font-weight: normal;
}
.results-list.active-pref-eco li.data-emissions,
.results-list.active-pref-fit li.data-calories,
.results-list.active-pref-cheap li.data-price,
.results-list.active-pref-fast li.data-duration {
    opacity: 1;
    font-weight: bold;
}


.result-item {
    padding: 16px 24px;
    margin-bottom: 15px;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    position: relative;
}

.result-item .content h2 {
    font-size: 24px;
    margin: 0 0 8px 0;
}
.result-item .content ul {
    margin-bottom: 0;
}

.btn-tomap, .btn-tomap:hover {
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

.result-item .glyphicon {
    font-size: 20px;
    position: absolute;
    right: 24px;
    top: 50%;
    margin-top: -10px;
}

.transportation-icon {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}
.result-item .transportation-icon {
    position: absolute;
    right: 55px;
    top: 50%;
    margin-top: -50px;
}
@media screen and (max-width: 359px) {
    .transportation-icon {
        display: none;
    }
}
@media screen and (min-width: 580px) {
    .transportation-icon {
        width: 140px;
        height: 140px;
    }
    .result-item .transportation-icon {
        margin-top: -70px;
    }
}

/* public journey */

.pub-journey-title {
    clear: both;
    overflow: hidden;
}
@media screen and (max-width: 579px) {
    .pub-journey-title .transportation-icon {
        margin: 0 auto;
    }
}
@media screen and (min-width: 580px) {
    .pub-journey-title .transportation-icon {
        float: left;
    }
}

/* map */

#appmap {
    position: fixed !important;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}

body.map .btn-choose-route,
body.map .alert {
    margin-bottom: 24px;
    box-shadow: rgba(0,0,0,0.35) 1px 1px 6px;
}
body.map .alert {
    position: relative;
    top: 80px;
}
body.map .alert.visible {
    transition: top 0.35s;
    top: 0;
}
body.map .alert .message {
    font-size: 14px;
    margin-right: 12px;
}

/* profile */

body.profile {
    padding-top: 50px;
}

.user-profile-card {
    background: url("images/shutterstock_132056090.jpg") no-repeat 50% 50%;
    background-size: cover;
    padding: 32px 16px;
    margin-bottom: 16px;
}
.user-profile-card .avatar {
    width: 96px;
    height: 96px;
    margin: 0 auto;
}
.user-profile-card h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 0;
}

.user-stats-rides .rides-row {
    clear: both; overflow: hidden;
}
.user-stats-rides .rides-row .icon {
    width: 42px;
    height: 42px;
    float: left;
    margin-right: 12px;
    background: #eee;
    border-radius: 6px;
}
.user-stats-rides .rides-row .icon div {
    width: 34px;
    height: 34px;
    margin: 4px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.user-stats-rides .rides-row .text {
    margin-bottom: 8px;
    line-height: 14px;
}

.user-stats-totals .total {
    margin: 12px 0;
    text-align: center;
}
.user-stats-totals .total-emissions {
    color: #70b723;
}
.user-stats-totals .total-calories {
    color: #d7163f;
}
.user-stats-totals .total-price {
    color: #5b2324;
}
.user-stats-totals .total-duration {
    color: #eba510;
}
.user-stats-totals em {
    font-style: normal;
    font-size: 2.5em;
    display: block;
    text-align: center;
}
.user-stats-totals em small {
    font-size: 0.4em;
}

#btn-logout {
  margin-top: 32px;
  margin-bottom: 16px;
}

.btn-facebook {
  .button-variant(#ffffff; #3b579d; #354e8d);
}