<template name="navBar">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                {{#if parent}}
                    <a class="navbar-brand" href="{{pathFor parent}}">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                {{else}}
                    <a class="navbar-brand" href="#nav-drawer" data-toggle="drawer">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </a>
                {{/if}}
                <span class="navbar-brand">{{> yield 'title'}}</span>
            </div>
        </div>
        <!-- /.container -->
        {{> yield 'navbarExtra'}}
    </nav>

    <div id="nav-drawer" class="drawer dw-xs-10 dw-sm-6 dw-md-4 fold" aria-expanded="false">
        <div class="drawer-contents">
            <ul class="drawer-fullnav">
                {{#if currentUser}}
                    <li class="{{isActiveClass 'navigate'}}">
                        <a href="{{pathFor 'navigate'}}">Navigate</a>
                    </li>
                    <li class="{{isActiveClass 'profile'}}">
                        <a href="{{pathFor 'profile'}}">Profile</a>
                    </li>
                    {{#if isAdmin}}
                    <li class="{{isActiveClass 'tracking'}}">
                        <a href="{{pathFor 'tracking'}}">Tracking</a>
                    </li>
                    <li class="{{isActiveClass 'users'}}">
                        <a href="{{pathFor 'users'}}">Users</a>
                    </li>
                    <li class="{{isActiveClass 'stats'}}">
                        <a href="{{pathFor 'stats'}}">Statistics</a>
                    </li>
                    <li class="{{isActiveClass 'export'}}">
                        <a href="{{pathFor 'export'}}">Export Data</a>
                    </li>
                    <li class="{{isActiveClass 'notifications'}}">
                        <a href="{{pathFor 'notifications'}}">Notifications</a>
                    </li>
                    {{/if}}
                {{/if}}
                <li class="{{isActiveClass 'about'}}">
                    <a href="{{pathFor 'about'}}">About</a>
                </li>
            </ul>
        </div>
    </div>

</template>