<template name="stats">
    {{#contentFor 'title'}}Statistics{{/contentFor}}

    <div class="container">
        {{#if journeysTotals}}
            {{#with journeysTotals}}
                {{> userStatistics}}
            {{/with}}
        {{/if}}
        <hr/>
        {{#if data}}
            <table class="table">
                <tr>
                    <th>Date</th>
                    <th>Total Journeys</th>
                </tr>
                {{#each data.countByDate}}
                    <tr>
                        <td>{{date}}</td>
                        <td>{{journeys}}</td>
                    </tr>
                {{/each}}
            </table>
        {{/if}}
    </div>
</template>