<template name="trackingStatus">
    {{#if isTracking}}
        <div class="alert alert-info">
            Currently tracking; {{remainingTrackingMinutes}} min. left
        </div>
    {{/if}}
</template>