<template name="journeys">
    
    {{#contentFor 'title'}}Journeys by {{userName}}{{/contentFor}}

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Created</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each journeys}}
                    <tr>
                        <td>{{_id}}</td>
                        <td>{{createdAt}}</td>
                        <td>
                            <a href="{{pathFor 'tracks' _userId=this.userId _journeyId=this._id}}">Tracks</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>